################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/blackjack/.vs/blackjack
/.vs/OSK_projekt/v17
/.vs
/blackjack/bin/Debug/net8.0-windows/blackjack.exe