################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OSK_projekt/v17
/blackjack/.vs/blackjack
